* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  font-family: 'ZCOOL XiaoWei', serif;
  width: 100%;
}

.main {
  width: 100%;
  padding: 2rem;  
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

#video {
  object-fit: contain;
  max-width: 80%;
}

.controls {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.arrow {
  font-size: 2rem;
  padding: 1rem;
}

#videos {
  padding: 1rem;
}
